* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    cursor: pointer;
    margin-bottom: 2%;
}

.item.checked {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #c8e2ce;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    cursor: pointer;
    margin-bottom: 2%;
}

.item-icon {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}

.item-name {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-button {
    flex: 25%;
}

.item.checked .item-name {
    text-decoration: line-through;
    color: rgb(100, 100, 100);
}

.delete {
    background: red;
    color: white;
    border: none;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.fa-circle-check {
    color: green;
}